body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

canvas {
    display: block;
}

#info {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    pointer-events: none;
    z-index: 100;
}

.lil-gui {
    --width:300px;
    --background-color:rgba(5,5,5,0.8);
    --text-color:#ffffff;
    --title-background-color: rgba(0, 0, 0, 0.3);
    --title-text-color: #ffffff;
    --widget-color: #0077ff;
    --hover-color: #0099ff;
    }

    .lil-gui .title {
        font-weight: bold ;
        padding: 5px 0;
    }